<div class="card p-3 flex-row my-3" >
    <%= episode.title %>
    <% if episode.thumbnail.attached? %>
        <%= link_to "/"  do %>
            <%= image_tag rails_storage_proxy_path(episode.thumbnail) %>
        <% end %>
    <% end %>
    <div class="container-fluid">
        <div class="d-flex flex-row">
        <p class="align-self-center status status--ongoing">Ongoing</p>
        <div class="ms-auto">
            <a class="btn btn-dark">Edit series</a>
            <a href="" class="btn btn-dark"><img src="/images/list.png" width="16"> </a>
            <a href="<%= new_episode_path(episode) %>" class="btn btn-dark"><img src="/images/plus.png" width="16"> </a>
        </div>
        </div>
        <div>Type: <%= episode.type %></div>
    </div>
</div>
