<div class="card p-3 flex-row my-3 align-items-center " >
    <div class="col-1">
        <%= episode.scene %>
    </div>
    <div class="col-4">
        <%= link_to episode_path(episode), class: "text-decoration-none" do %>
            <%= image_tag episode.thumbnail, height: 50, width: 50  if episode.thumbnail.attached? %>
        <% end %>
        <%= episode.title %>
    </div>
    <div class="col-4">
        Published <!-- TODO: add status -->
    </div>
    <div class="col-3">
        <%= link_to "Edit", edit_episode_path(episode), class: "btn btn-success" %>
    </div>
</div>
