<% episode = @episode %>
<div class="episode container my-5" id="frame-episode-<%= episode.id %>" data-viewer-target="container" for="<%= episode.id %>">
    <div class="episode-viewer-top" >
        <p class="title"><%= episode.title %></p>
        <p class="date"><%= episode.created_at.strftime("%F") %></p>
    </div>
    <% if episode.type == "ComicEpisode" %>
        <% episode.pages.with_all_variant_records.each do |page| %>
            <%= image_tag page, class: "page", width: page.metadata["width"], height: page.metadata["height"] %>
            <% p page.metadata %>
        <% end %>
    <% elsif episode.type == "NovelEpisode" %>
        <%= episode.story %>
    <% end %>
    <div class="episode-viewer-bot">
        <%= tag.div class: "data-author" do %>
            <%= user_avatar nil, "autor" %>
            <%= tag.div class: "data-author-name" do %>
                <%= episode.series.user.login %>
                <%= tag.div class: "data-author-name__default" do %>
                    <%= t "Creator" %>
                <% end %>
            <% end %>
        <% end %>
        <%= tag.div class: "fishie-comment"  do %>
            <%= tag.div class: "comment-summary justify-items-between" do %>
                <%= tag.div class: "comment-count" do %>
                    Comments(<%= episode.comments.size %>)
                <% end %>
                <%= link_to "See all", "#", class: "link-dark" %>
            <% end %>
            <% if episode.comments.size > 0 %>
                <%= tag.div class: "top-comment"  do %>
                    Top comment
                <% end %>
            <% end %>
            <%= tag.button class: "btn btn-outline-secondary add-comment_fishie" do %>
                ADD COMMENT
            <% end %>
        <% end if @episode.comments_enabled %>
    </div>
</div>
