<% episode = @episode %>
<div class="episode container my-5" style="display: none" id="frame-episode-<%= episode.id %>" data-viewer-target="container" for="<%= episode.id %>">
    <div class="episode-viewer-top" >
        <p class="title"><%= episode.title %></p>
        <p class="date"><%= episode.created_at.strftime("%F") %></p>
    </div>
    <% if episode.type == "ComicEpisode" %>
        <% episode.pages.each do |page| %>
            <%= image_tag rails_storage_proxy_path(page), class: "page", width: page.metadata["width"], height: page.metadata["height"] %>
            <% p page.metadata %>
        <% end %>
    <% elsif episode.type == "NovelEpisode" %>
        <%= episode.story %>
    <% end %>
    <div class="episode-viewer-bot">
        Author: <%= episode.series.user.login %>
    </div>
</div>
