<%= form_with(model: series, url: path, html: {method: method}, class: "dropzone", data: {controller: "new-comic"}) do |form| %>
  <% if series.errors.any? %>
    <div class="card m-2" style="color: red">
      <ul>
        <% series.errors.each do |error| %>
          <li><%= error.message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%=  content_tag :div, class: "form-group", data: {controller: "char-counter", "char-counter-limit-value": 100 } do %>
    <%= content_tag :h3, "Title" %>
    <%= form.text_field :title, class: "form-control", placeholder: "Enter Title", data: {action: "char-counter#update" } %>
    <%= content_tag :div, class: "d-flex flex-direction-row justify-content-end" do %>
      <%= tag.span class: "desc__counter" do %>
        <%= tag.span "0", "data-char-counter-target": "counter" %>
        <%= tag.span "/0", "data-char-counter-target": "total"  %>
      <% end %>
    <% end %>
  <% end %>

  <div class="form-group">
    <h3>URL</h3>
    <div class="input-group mb-3">
        <span class="input-group-text">https://sapat.net/series/</span>
        <%= form.text_field :url, class: "form-control", "data-new-comic-target": "url"%>
    </div>
  </div>

  <div class="form-group" data-controller="image-loader">
    <h3>Thumbnail</h3>
    <%= image_tag series.thumbnail.attached? ?  series.thumbnail : "", style: "max-height: 300px; max-width: 200px;", class:"my-2"  %>
    <%= form.file_field :thumbnail, class: "form-control", "data-action": "change->image-loader#update" %>
  </div>

  <div class="form-group">
    <h3>Description</h3>
    <%= form.text_area :description, class: "form-control", aria_describedby: "emailHelp", placeholder: "Enter Description" %>
  </div>

  <div class="form-group" data-controller="image-loader">
    <h3>Book cover</h3>
    <%= image_tag series.cover.attached? ? series.cover : "", style: "max-height: 300px; max-width: 200px;", class:"my-2"  %>
    <%= form.file_field :cover, class: "form-control", "data-action": "change->image-loader#update"%>
  </div>

  <%= tag.div class:"form-group", data: {controller: "genres"} do %>
    <h3>Genre</h3>

    <% for genre in available_genres do %>
      <%= check_box_tag :genres_list, genre.title, @series.genres.include?(genre) , name: @series.type.downcase + '[genres_list][]', id: "genre-#{genre.id}", class: "btn-check", autocomplete: "off", "data-genres-target": "tag", "data-action": "genres#update", "genre_id": genre.id %>
      <label class="btn btn-outline-primary my-2" for="genre-<%= genre.id %>"><%= genre.title %></label>
    <% end %>

    <h5>Main genre</h5>
    <div class="col-4">
      <div class="input-group mb-3">
        <%= tag.select class: "form-select", "data-genres-target": "selector", name: @series.type.downcase + "[genre_id]" do %>
          <% if series.main_genre.nil? %>
            <%= tag.option "None", value: "-1", selected: true %>
          <% else %>
            <% series.genres.each do |genre| %>
              <%= tag.option genre.title, value: genre.id, selected: series.main_genre == genre %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= tag.div class:"form-group" , data: {controller: "char-counter tags", "char-counter-limit-value": 50 } do %>
    <h3>Tags</h3>
    <%= text_field_tag "hello", nil,  class: "form-control",  placeholder: "Enter tag and press enter", data: {action: "keydown->tags#update char-counter#update" }, for: @series.type.downcase  %>
    <%= content_tag :div, class: "d-flex flex-direction-row justify-content-end" do %>
      <%= tag.span class: "desc__counter" do %>
        <%= tag.span "0", "data-char-counter-target": "counter" %>
        <%= tag.span "/0", "data-char-counter-target": "total"  %>
      <% end %>
    <% end %>

    <div id="tags-bar" class="my-2">
      <% series.tags.each do |series_tag| %>
        <%= tag.input type: "checkbox", name: (@series.type.downcase + "[tags_list][]"), value: series_tag.title, checked: true, id: "tag-#{series_tag.id}", class: "btn-check", autocomplete: false, "data-action": "tags#remove" %>
        <%= tag.label series_tag.title, class: "btn btn-outline-primary m-1", for: "tag-#{series_tag.id}" %>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= form.submit class: "btn btn-primary my-3" %>
  </div>

<% end %>
