<div class="container d-flex m-5">
    <%= link_to series_info_url(@series.url) do %>
        <%= image_tag @series.cover, height: "240px", width: "160px", class: "card" %>
    <% end%>
    <div class="container">
        <div class="container">
            <% for genre in @series.genres %>
                <%= link_to genre.title , @series.type == "Comics" ? comics_path(genre: genre.title) : novels_path(genre: genre.title), class: "btn btn-dark p-2"%>
            <% end %>
        </div>
        <div class="container my-2">
            <%= link_to @series.type, @series.type == "Comics" ? comics_path : novels_path, class: "link-dark" %>
            <%= content_tag(:span, " ● ") %>
            <%= content_tag(:span, @series.views.count.to_s + " views")  %>
            <%= content_tag(:span, " ● ") %>
            <%= content_tag(:span, @series.subscriptions.count.to_s + " subscribers")  %>
            <%= content_tag(:span, " ● ") %>
            <%= content_tag(:span, @series.likes.count.to_s + " likes")  %>
        </div>
        <div class="container d-flex">
            <% if @current_user.views.exists?(episode: @series.episodes) %>
                <%= link_to "Continue reading", episode_path(@series.episodes.first), class: "btn btn-outline-dark me-2" %>
            <% else %>
                <%= tag.button "Start reading", class: "btn" %>
            <% end %>
            <%= turbo_frame_tag "subscribe_turbo_frame", src: subscribe_series_path(@series, format: :turbo_stream) do %>
                <div id="subscribe">
                    <%= loader %>
                </div>
            <% end %>
        </div>
    </div>
    <div class="creator list-group mx-5 ">
        <div class="list-group-item list-group-item-dark px-4">
            <span>Author: </span>
        </div>
        <%= link_to @series.user.login, @series.user, class: "list-group-item px-4" %>
    </div>
</div>
