<!DOCTYPE html>
<html lang="<%= I18n.locale  %>">

<head>
  <title>Webproject</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application" , "data-turbo-track": "reload" %>
  <!-- <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %> -->
  <%= javascript_importmap_tags %>
</head>

<body class="<%= controller_name + "-" + action_name %>">
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nave-signup-tab" data-bs-toggle="tab" data-bs-target="#nav-signup" type="button" role="tab" aria-controls="nav-signup" aria-selected="true">Signup</button>
          <button class="nav-link" id="nave-login-tab" data-bs-toggle="tab" data-bs-target="#nav-login" type="button" role="tab" aria-controls="nav-login" aria-selected="false">Login</button>
        </div>
        <div class="modal-body">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-signup" role="tabpanel" aria-labeledby="nav-signup-tab">
                <%= turbo_frame_tag "signup", loading: "lazy", src: register_path do %>
                  <%= loader %>
                <% end %>
              </div>
            <div class="tab-pane fade" id="nav-login" role="tabpanel" aria-labeledby="nav-login-tab">
              <%= turbo_frame_tag "login", loading: "lazy", src: login_path do %>
                  <%= loader %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <header class="px-3 text-bg-white shadow-sm">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <img class="bi me-2" height="48" src="/images/logos/logo_transparent_crop.png">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 top-nav__item">
          <li><a href="/" class="nav-link px-2 <%= url_child_of( "index" ) %>">Home</a></li>
          <li><a href="/comics?genre=all" class="nav-link px-2 <%= url_child_of( "comics" ) %>">Comics</a></li>
          <li><a href="/novels?genre=all" class="nav-link px-2 <%= url_child_of( "novels" ) %>">Novels</a></li>
          <li><a href="#" class="nav-link px-2 text-dark">Discover</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-white text-bg-white" placeholder="Search..."
            aria-label="Search">
        </form>

        <div class="text-end d-flex p-2 justify-content-center align-items-center">
          <% if authorised? %>
            <div class="dropdown">
              <%= user_avatar nil, height: 32, type:"button", "data-bs-toggle": "dropdown", "aria-expanded": "false" %>
              <ul class="dropdown-menu">
                <li class="d-flex align-items-center">
                  <%= user_avatar nil, height: 24, type:"button", "data-bs-toggle": "dropdown", "aria-expanded": "false" %>
                  <%= link_to @current_user.login, @current_user, class: "dropdown-item"%>
                </li>
                <li class="d-flex"><hr class="dropdown-divider"></li>
                <li class="d-flex"><%= link_to  "", class: "dropdown-item" do %><%= image_tag "/images/gear.png", height: 24 %>  Settings<% end %></li>
                <li class="d-flex"><%= link_to  "", class: "dropdown-item" do %><%= image_tag "/images/question-mark.png", height: 24 %>  Help<% end %></li>
                <li class="d-flex"><hr class="dropdown-divider"></li>
                <li class="d-flex"><%= link_to logout_path, class: "dropdown-item" do %><%= image_tag "/images/stand-by.png", height: 24 %>   Logout <%end%></li>
              </ul>
            </div>
            <%= link_to active_user_artist? ? "Dashboard" : "Publish", dashboard_path, class: "btn btn-outline-dark mx-2 " %>
          <% else %>
              <button type="button" class="btn btn-outline-dark me-2" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Sign up</button>
          <% end %>
        </div>
      </div>
    </div>
  </header>
  <% if !confirmed? %>
    <div class="py-2 d-flex justify-content-center shadow-sm align-items-center"> Confirm your account for full functional <%= button_to "Activate", "/activation", method: :post, class: "btn btn-success ms-2", onclick: "(event)=>{event.target.destroy()}()" %> </div>
  <% end %>
  <main>
    <%= yield %>
    <dialog id="turbo-confirm">
      <form method="dialog">
        <p id="turbo-confirm-message">Are you sure</p>
        <button value="cancel">Cancel</button>
        <button value="confirm">Confirm</button>
      </form>
    </dialog>
  </main>
  <%= render 'layouts/messages' %>
  <div class="footer  px-2">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mb-4 border-top">
      <p class="col-md-4 mb-0 text-muted">© 2021 Company, Inc</p>

      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <img class="bi me-2" height="48" src="/images/logos/logo_transparent_crop.png">
      </a>

      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
      </ul>
    </footer>
  </div>
</body>

</html>
